.history {

  .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    border-top: 0;
    color: $dardo-color-dark;
  }

  .table > tbody > tr > th {
    padding-top: 1em;
    border-top: 1px solid $dardo-color-dark;
    @include header-style();
  }

  .label-default {
    @include header-style();
  }

  .badge {
    color: lighten($dardo-color-dark, 25%);
    background: $dardo-color-dark;
  }
}