@mixin header-style {
  font-family: 'Montserrat', 'Helvetica', serif;
  text-transform: uppercase;
}

body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  background-color: $dardo-bg-color;
}

header {
  border-bottom: 1px solid $panel-default-border;
  margin-bottom: 3em;
}

footer {
  @include header-style();
  margin-top: 3em;
  padding-top: 3em;
  border-top: 1px solid $panel-default-border;
  font-size: 0.8em;
  color: $dardo-color-mid;
}

h1 {
  @include header-style();
}

h2 {
  @include header-style();
  font-size: 0.8em !important;
}

h3 {
  @include header-style();
  font-size: 0.9em !important
}
