.timer {

  .countdown {
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    color: #fff;
  }
  .description {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #fac8c4;
  }
  .tags {
    text-align: center;
    margin-bottom: 3em;
  }
  .controls {
    text-align: center;
  }

  .control-label {
    @include header-style();
    font-weight: normal;
    color: $dardo-color-light;
  }

  .btn {
    font-family: 'Montserrat', 'Helvetica', serif;

    &.btn-primary {
      text-transform: uppercase;
    }
  }

}